
body {
    background-color: rgba(0, 128, 0, 0.795);
}

.card {
    font-weight: bold;
    font-size: 10px;
    display: flex;
    position: relative;
    width: 100px;       
    height: 130px;  
    justify-content: center;
    align-items: center;
    border: 1px solid black;   
    border-radius: 5px; 
    margin-bottom: 8px; 
    margin-right: 8px;
    
}

.cardsdraw{
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

#logsstepslist{
    display: flex;
    align-items: center;
    padding-top: 10px;
    justify-content: center;

}

h5{
    display: flex;
    justify-content: center;
}